@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --test: hsl(77, 14%, 10%);
    --background: 43 17% 71%;
    --foreground: 77 14% 10%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 44 17% 31%;
    --popover-foreground: 0 0% 100%;

    --primary: 43 17% 71%;
    --primary-foreground: 77 14% 10%;

    --secondary: 0 0% 100%;
    --secondary-foreground: 77 14% 10%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 77 14% 10%;

    --accent: 31 99% 62%;
    --accent-foreground: 77 14% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 44 17% 31%;
    --foreground: 77 14% 10%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 43 17% 71%;
    --popover-foreground: 77 14% 10%;

    --primary: 44 17% 31%;
    --primary-foreground: 77 14% 10%;

    --secondary: 77 14% 10%;
    --secondary-foreground: 0 0% 100%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 77 14% 10%;

    --accent: 31 99% 62%;
    --accent-foreground: 77 14% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
  }
}

@layer base {
  * {
    @apply border-border;
    font-family: 'Poppins', sans-serif;
  }

  body {
    @apply bg-background text-foreground;
    background: linear-gradient(180deg, hsl(var(--primary)) 0%, hsl(var(--secondary)) 200%);
  }

  main {
    min-height: calc(100vh - 80px);
  }

  h2 {
    font-size: 1.5em;
    font-weight: 500;
  }

  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;
  }

  .nav-option {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 64px;
    padding: 6px 8px;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    transition: 350ms;
  }

  .nav-option:hover {
    background-color: hsl(var(--secondary) / 20%);
  }

  .nav-option::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0px;
    border-bottom: 2px solid hsl(var(--accent));
    transition: 350ms;
    transform: scale(0);
    transform-origin: left;
  }

  .nav-option.active::after {
    transform: scale(1);
    width: 100%;
  }

  .wave::before,
  .wave::after {
    content: "";
    height: 200px;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: -175px;
    touch-action: none;
    width: 100%;
    clip-path: polygon(100% 0, 0 0, 0 65%, 1% 64.95%, 2% 64.8%, 3% 64.6%, 4% 64.3%, 5% 63.9%, 6% 63.45%, 7% 62.9%, 8% 62.25%, 9% 61.55%, 10% 60.8%, 11% 59.95%, 12% 59.05%, 13% 58.1%, 14% 57.1%, 15% 56.05%, 16% 55%, 17% 53.9%, 18% 52.8%, 19% 51.65%, 20% 50.5%, 21% 49.35%, 22% 48.2%, 23% 47.05%, 24% 45.9%, 25% 44.8%, 26% 43.75%, 27% 42.75%, 28% 41.75%, 29% 40.8%, 30% 39.9%, 31% 39.1%, 32% 38.35%, 33% 37.65%, 34% 37.05%, 35% 36.5%, 36% 36.05%, 37% 35.65%, 38% 35.35%, 39% 35.15%, 40% 35.05%, 41% 35%, 42% 35.05%, 43% 35.2%, 44% 35.45%, 45% 35.75%, 46% 36.15%, 47% 36.65%, 48% 37.2%, 49% 37.85%, 50% 38.55%, 51% 39.35%, 52% 40.2%, 53% 41.1%, 54% 42.05%, 55% 43.05%, 56% 44.1%, 57% 45.15%, 58% 46.3%, 59% 47.4%, 60% 48.55%, 61% 49.7%, 62% 50.85%, 63% 52%, 64% 53.15%, 65% 54.25%, 66% 55.35%, 67% 56.4%, 68% 57.45%, 69% 58.4%, 70% 59.35%, 71% 60.2%, 72% 61.05%, 73% 61.8%, 74% 62.45%, 75% 63.05%, 76% 63.6%, 77% 64.05%, 78% 64.4%, 79% 64.7%, 80% 64.85%, 81% 65%, 82% 65%, 83% 64.9%, 84% 64.75%, 85% 64.5%, 86% 64.2%, 87% 63.75%, 88% 63.25%, 89% 62.7%, 90% 62.05%, 91% 61.3%, 92% 60.5%, 93% 59.65%, 94% 58.75%, 95% 57.8%, 96% 56.8%, 97% 55.75%, 98% 54.65%, 99% 53.55%, 100% 52.4%);
  }

  .wave::before {
    background-color: hsl(var(--secondary) / 50%);
    transform: scale(-1);
  }

  .wave::after {
    background-color: hsl(var(--secondary));
    transform: scaleY(-1);
  }

  .card-wrapper {
    border-radius: 16px;
    transition: 500ms;
    z-index: 1;
  }

  .card,
  .card-secondary-row {
    display: grid;
    position: relative;
    grid-template-rows: 1fr auto;
    width: 100%;
    height: 100%;
    padding: 2rem;
    border-radius: 16px;
    transition: transform 500ms;
  }

  .card-secondary-row {
    padding: 1.5rem;
  }

  .card-wrapper:hover {
    transform: rotate(3deg) scale(1.01);
    transition: 500ms;
  }

  .card:hover,
  .card-secondary-row:hover {
    transform: rotate(-3deg) scale(1);
    transition: transform 500ms;
  }

  .card-title {
    text-align: left;
    align-self: flex-end;
    justify-self: flex-start;
    font-size: clamp(1.5rem, 6vw, 2.5rem);
  }

  .card-secondary-row .card-title {
    font-size: 1.5rem;
  }

  .card-author {
    align-self: center;
    justify-self: flex-start;
    font-size: .8rem;
  }

  .about-card h3 {
    @apply text-2xl z-[1] font-medium;
  }

  @keyframes link-after-animation {
    0% {
      transform-origin: left;
      transform: scaleX(0);
    }

    50% {
      transform-origin: left;
      transform: scaleX(1);
    }

    51% {
      transform-origin: right;
      transform: scaleX(1);
    }

    100% {
      transform-origin: right;
      transform: scaleX(0);
    }
  }
}